


.show {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  border-radius: 10%;
  background: #0a88eece;
  
}

.name {
  margin-left: 50%;
  padding-bottom: 50px;
}

.delete {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  border-radius: 10%;
  background: #ee0a0ace;
  

}



